server {
  server_name localhost;

  location /api {
    proxy_pass https://test-eucan-connect.molgeniscloud.org;
  }
  location /login {
    proxy_pass https://test-eucan-connect.molgeniscloud.org;
  }
  location / {
    root /usr/share/nginx/html;
    autoindex on;
    index       index.html;
    try_files   $uri $uri/ /index.html;
  }
  include /etc/nginx/sites-enabled/*;
}